.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  width: 345px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 230px; /* Adjust height as needed */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageContainer:hover .overlay {
  opacity: 1;
}

.overlayTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.overlayDescription {
  font-size: 1rem;
  text-align: center;
  padding: 0 12px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.button {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  background: var(--color-primary);
  padding: 8px 20px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-dark);
}
