.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%; /* Make sure container takes full width */
  max-width: 100%; /* Prevent container from exceeding viewport width */
  margin-left: 0; /* Remove the left margin */
  margin-right: 0; /* Remove the right margin */
  padding: 0 10%; /* Optional: Add padding for spacing on the sides */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: hidden; /* Prevent horizontal scrolling */

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; /* Add standard property */
  transition: transform 0.3s ease; /* Add smooth transition */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease-in-out forwards; /* Fade-in animation */
  animation-delay: 0.5s; /* Delay animation */
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add smooth transition */
}

.contactBtn:hover {
  background-color: var(--color-secondary); /* Change color on hover */
  transform: scale(1.05); /* Scale up slightly on hover */
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation: floating 3s ease-in-out infinite; /* Simplify animation syntax */
}

.topBlur,
.bottomBlur {
  position: absolute;
  border-radius: 50%;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.topBlur {
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
}

.bottomBlur {
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  top: 246px;
  right: -25vw;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Mobile view adjustments */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width:auto;
    text-align: center;
  }

  .content {
    align-items: center;
    text-align: center;
  }

  .title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .contactBtn {
    font-size: 20px;
    padding: 12px 20px;
    margin: 10px 0;
  }

  .heroImg {
    width: 80%;
    margin-top: 20px;
  }

  .topBlur {
    width: 60vw;
    height: 60vw;
    top: -100px;
    left: -20vw;
  }

  .bottomBlur {
    width: 80vw;
    height: 60vw;
    top: 200px;
    right: -30vw;
  }
}
