@import "../../vars.css"; /* Import your shared variables */

.navbar {
  position: relative;
  display: flex;
  width:auto;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%; /* Adjust padding for better spacing */
  z-index: 2;
  background-color: var(--color-dark); /* Adjust as needed */
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  font-family: var(--font-robot);
  transition: color 0.3s ease; /* Smooth color transition */
}

.menuBtn {
  display: none; /* Hidden by default, shown on mobile */
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1; /* Ensure it stays on top */
  width: 40px;
  height: 40px;
}

.menuBtn img {
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menuItems a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition */
}

.menuItems a:hover {
  color: var(--color-primary); /* Highlight on hover */
}

.itemvalue {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  /* font-family: var(--font-robot), sans-serif; Apply a modern font */
  /* font-size: 28px; /* Adjust the size for navigation items */
  /* font-weight: 500; Semi-bold for better readability */ 
  text-decoration: none; /* Ensure no underline */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Hover Effect */
.itemvalue:hover {
  color:white; /* Use an accent color for hover effect */
}

/* Mobile View Adjustments */
@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .menuBtn {
    display: block;
    top:20px; /* Show the menu button on mobile */
  }

  .menu {
    position: absolute;
    top: 90px;
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--color-dark);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
    gap: 15px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .menuOpen {
    display: flex; /* Show the menu when open */
    opacity: 1;
    top:100px;
    transform: translateY(0);

  }

  .menuItems {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
  }

  .menuItems a {
    font-size: 18px; /* Slightly smaller font for mobile */
  }
}
