.container {
  background-color: rgba(61, 79, 133, 0.9);
  border-radius: 20px;
  padding: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  animation: fadeInTitle 1s ease forwards;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.workItem {
  position: relative; /* Add position relative */
  margin: 0 20px 40px;
  padding: 30px;
  background-color: #080808;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(224, 12, 171, 0.1);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  width: 800px; /* Maximum width for responsiveness */
  animation: fadeInUp 2s ease-in-out;
  transform-style: preserve-3d; /* Specify the transform style */
}

.workItem:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid #0e0d0d;
  border-radius: 22px; /* Adjust border radius to match the parent */
  opacity: 0;
  animation: borderAnimation 1s ease forwards;
}

@keyframes borderAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.workItem:hover:before {
  opacity: 0; /* Hide border on hover */
}

.workItem:hover {
  transform: translateY(-5px) perspective(1000px) rotateX(5deg); /* Adjust the rotation for 3D effect */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.workItemContent {
  padding: 20px;
}

.workItemContent h5 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #424242;
  margin-bottom: 10px;
}

.workItemContent h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f5eeee;
}

.workItemContent p {
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.workItemContent ul {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

.workItemContent ul li {
  color: var(--color-text);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  list-style-type: square !important; /* Add list style */
}

.workItemContent p.skills {
  font-size: 1.6rem;
  font-weight: bold;
  color: #eb5858;
}

.workItemContent h5,
.workItemContent h3,
.workItemContent p,
.workItemContent ul,
.workItemContent p.skills {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
