.container {
  background-color: rgba(61, 79, 133, 0.9);
  border-radius: 20px;
  padding: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  overflow: hidden;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  animation: fadeInTitle 1s ease forwards;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Space between work items */
  justify-content: center;
  align-items: center;
}

.workItem {
  position: relative;
  padding: 20px;
  background-color: #080808;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(224, 12, 171, 0.1);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  width: 100%;
  max-width: 800px; /* Maximum width for responsiveness */
  animation: fadeInUp 1s ease-in-out;
}

.workItemContent {
  padding: 20px;
}

.workItemContent h5 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #424242;
  margin-bottom: 10px;
}

.workItemContent h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #f5eeee;
}

.workItemContent p {
  font-size: 1.6rem;
  color: #666;
  margin-bottom: 1.5rem;
}

.workItemContent ul {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.workItemContent ul li {
  color: var(--color-text);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  list-style-type: square !important;
}

.workItemContent p.skills {
  font-size: 1.6rem;
  font-weight: bold;
  color: #eb5858;
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 768px) {
  .workItem {
    width: 90%; /* Adjust width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
  }

  .workItem {
    padding: 15px; /* Reduce padding for smaller screens */
  }

  .workItemContent h3 {
    font-size: 1.6rem; /* Smaller title size */
  }

  .workItemContent h5 {
    font-size: 1.2rem; /* Smaller subtitle size */
  }

  .workItemContent p,
  .workItemContent ul li {
    font-size: 1.2rem; /* Reduce font size for content */
    display: none; /* Hide detailed content */
  }

  .workItemContent p.skills {
    font-size: 1.2rem;
    display: block; /* Only show skills */
  }

  .workItemContent h3,
  .workItemContent h5 {
    display: block; /* Keep the main headings visible */
  }

  .workItemContent ul {
    display: none; /* Hide the list details */
  }
}
